<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.custom.chenxz.object">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".server.VideoLiveWallpaper"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":wallpaper">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.TakePhotoActivity" />
        <activity android:name=".view.NestedScrollActivity" />
        <activity android:name=".view.NestRecycleViewInScrollViewActivity" />
        <activity android:name=".view.ExpandableListActivity" />
        <activity
            android:name="com.custom.chenxz.photolibrary.ui.PhotoPagerActivity"
            android:theme="@style/PhoAppTheme.AppTheme" />
        <activity android:name=".view.FlowActivity" />
        <activity android:name=".view.ColorViewActivity" />
        <activity android:name=".view.CustomFragmentActivity" />
        <activity android:name=".view.ColorPickerActivity" />
        <activity
            android:name=".view.DragViewActivity"
            android:label="@string/title_activity_drag_view" />
        <activity
            android:name=".view.IjkPlayerActivity"
            android:label="@string/title_activity_ijk_player"></activity>
    </application>

</manifest>